.wrapper {
  .toast {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
  .map {
    height: 600px;
    width: 100%;
  }
}

.h3,
.h2 {
  margin: 15px 0;
  margin-left: 30px;
  font-size: 28px;
  line-height: 48px;
}
.h2 {
  font-size: 36px;
  font-weight: bold;
}
